/* Styles for the navigation bar */
.navbar {
  background-color:#005365 ; /* Dark background color */

}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none; /* Removes default list style */

}

.nav-item { /* Changes Login, Register, Home, etc. text */
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #dcc963;
  font-size: 20px;
}

.nav-item:hover {
  color: #c29400; /* I made it lighter background color on hover */
}

/* Additional styles for the navbar-actions */
.navbar-actions {
  margin-left: auto; /* Pushes the actions to the right */
}
