/* Styles for the navigation bar */
.navbar {
  background-color: #0d6ba9; /* Dark background color */
  color: rgb(255, 255, 255); /* Text color */
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none; /* Removes default list style */
}

.nav-item { /* Changes Login, Register, Home, etc. text */
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #fff30de8;
  font-size: 20px;
}

.nav-item:hover {
  background-color: #ffc89f; /* Darker background color on hover */
}

/* Additional styles for the navbar-actions */
.navbar-actions {
  margin-left: auto; /* Pushes the actions to the right */
}
