/* Styles for the navigation bar */
.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none; /* Removes default list style */
  display: flex;
  justify-content: center;
}



.nav-item { /* Changes Login, Register, Home, etc. text */
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #eeeee4;
  font-size: 20px;
}

.nav-item:hover {
  color: #c29400; /* I made it lighter background color on hover */
}

/* Additional styles for the navbar-actions */
.navbar-actions {
  margin-left: auto; /* Pushes the actions to the right */
}

/* Phone media queries */
@media screen and (min-width: 360px) and (max-width: 800px) {
  .navbar-nav {
    float: none;
    width: 100%;
  }
  .nav-item{
    font-size: 14px;
  }
}
