<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-link" routerLink="/">
      <span class="nav-item">Home</span>
    </a>
    <a class="nav-link" routerLink="/instructions">
      <span class="nav-item">Instructions</span>
    </a>
    <a class="nav-link" routerLink="/login">
      <span class="nav-item">Login</span>
    </a>
    <a class="nav-link" routerLink="/register">
      <span class="nav-item">Register</span>
    </a>
    <a class="nav-link" routerLink="/user-birds">
      <span class="nav-item">Birds</span>
    </a>
  </div>
  <div class="navbar-actions">
    <!-- Add login/logout buttons or user-related actions here -->
  </div>
</nav>
