<!-- <object type="application/pdf"
data= "HardwareGuidePDF.pdf"
width="800"
height="500">
</object> -->

<h1 class="title">Instruction Guide</h1>
<mat-card class="mat-card">
  <p>Download ClippyBird's setup instructions
    <a href="src/app/components/instructions/cat.webp" download="ClippyBird_Guide.pdf" target="_blank">
      here!
    </a>
    <a _blank href="HardwareGuidePDF.pdf" download="ClippyBird_Guide.pdf" target="_blank">asdasdad</a>
    <a href="favicon.ico" download="ClippyBird_Guide" target="_blank">favicon</a>
    <a href="Sheba1.JPG.webp" download="ClippyBird_Guide" target="_blank">cat</a>




    <p>sdfs</p>
</mat-card>

<embed src="https://www.africau.edu/images/default/sample.pdf" width="800px" height="1000px" />



