<div class="min-h-screen bg-gray-100 p-4 flex flex-col items-center justify-center">
  <h1 class="text-2xl font-bold text-gray-800 mb-4">Instruction Guide</h1>
  <div class="bg-white shadow overflow-hidden sm:rounded-lg p-4 w-full max-w-4xl">
    <p class="text-gray-800 text-lg">
      Download ClippyBird's setup instructions
      <a href="https://moccasin-brittaney-71.tiiny.site" download="ClippyBird_Guide.pdf" target="_blank" class="text-blue-500 hover:text-blue-600">
        here!
      </a>
    </p>
    <embed src="https://moccasin-brittaney-71.tiiny.site" class="w-full h-full" style="height: 80vh;"/>
  </div>
</div>
