.mat-card{
  background-color: rgba(0, 0, 0, 0);
  box-shadow:none;
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  color: #eab676
 }

 html, body {
  height: 100%;
  background-color:#005365; /* For browsers that do not support gradients */
  background-image: linear-gradient(#005365, #1cb6d1, #005365);
}

 /* Desktop media queries */
@media screen and (min-width: 1080px) and (max-width: 1920px){
  .title {
    font-size: 42px;
  }
  p{
    font-size: 38px;
    line-height: 1.5; /* Adjust line spacing as needed */
    max-width: 100%; /* Limit width to the screen width */
    text-align: center;
    padding: 30px;
    box-sizing: border-box; /* Ensure padding is included in the width */
  }
}
