<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <textarea
      matInput
      rows="10"
      name="content"
      ngModel required #content="ngModel">
    </textarea>
    <mat-error *ngIf="content.invalid">Invalid operation</mat-error>
    </mat-form-field>
    <button
    mat-raised-button
    color="primary"
    type="submit">Save post</button>
  </form>
</mat-card>


<!--
<mat-card>
  <textarea matInput rows="10" [(value)]="binding"></textarea>
  <button mat-stroked-button color="primary" (click)="onButtonClick()"></button>
</mat-card> -->
