/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color:#005365; /* For browsers that do not support gradients */
  background-image: linear-gradient(#005365, #abdbe3);
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.title {
  text-align: center;
}

.mat-card{
  background-color: rgba(0, 0, 0, 0.5);
}
