<h1 class="text-3xl font-bold text-center text-gray-800 mb-6">Birds</h1>

<div *ngFor="let image of userImages" class="max-w-md mx-auto my-4 overflow-hidden bg-white rounded-lg shadow-md">
  <mat-card class="p-4">
    <div class="text-gray-600">
        {{ image.DATE_TIME }}
    </div>
    <div class="text-lg text-gray-800 font-semibold">
        {{ image.IMAGE_NAME }}
    </div>
    <div class="my-3">
        <img [src]="getImageUrl(image)" alt="{{ image.IMAGE_NAME }}" class="w-full h-auto object-cover rounded-lg">
    </div>
    <div class="text-gray-700">
        {{ image.IMAGE_LOCATION }}, {{ image.SPECIES }}
    </div>
    <hr class="my-2">
  </mat-card>
</div>
