.resized-image {
    width: 300px;
    height: 300px;
    max-width: 100%;
    height: auto;

  }

  .mat-card{
    background-color: rgba(0, 0, 0, 0);
    box-shadow:none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .border-line{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    width: 50%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgba(231, 231, 231, 0.426), transparent);
  }

  @keyframes scroll {
    0% { background-position: 0% 0%; }
    100% { background-position: 0% 100%; }
}

  @media screen and (min-width: 1080px) and (max-width: 1920px){
    .title {
      font-size: 42px;
      padding: 60px;
    }
  }
